.hero{
    padding-block: 70px;
    background-image: url("/hero/hero.jpg");
    background-repeat: no-repeat;
    background-position: center right 200px;
    position: relative;
}

.hero__box{
    max-width: 489px;
    margin-inline-start: 100px;
}

.hero__title{
    color: #000;
    font-family: Playfair Display;
    font-size: clamp(24px, 5vw + 1rem, 59px );
    font-style: normal;
    font-weight: 900;
    line-height: 71px; 
    margin-block-end: 23px;
}

.hero__description{
    color: #000;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    margin-block-end: 35px;
}

.flex__group{
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    align-items: center;
}

.decor__one{
    width: 30px;
    height: 30px;
    background: #EFE1BC;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.decor__two{
    width: 39.886px;
    height: 39.886px;
    transform: rotate(45deg);
    background: #F4BEBD;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.decor__three{
    width: 16px;
    height: 16px;
    opacity: 0.7955;
    background: #F4F4F4;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.decor__four{
    width: 37px;
    height: 37px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #D9F4F2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.decor__five{
    background: #F4F4F4;
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.decor__six{
    width: 57.886px;
    height: 57.886px;
    transform: rotate(45deg);
    background: #000;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.decor__seven{
    width: 15px;
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.flex{
    display: flex;
    gap: 100px;
    position: relative;
}

.pos__one{
    position: absolute;
    top: -400px;
    left: 200px;
}

.pos__two{
    position: absolute;
    top: 100px;
}

.pos__three{
    position: absolute;
    top: -250px;
    left: -250px;
}

.pos__four{
    position: absolute;
    top: -330px;
    left: 300px;
}

.pos__five{
    position: absolute;
    top: -370px;
    left: 340px;
}

.pos__six{
    position: absolute;
    top: -320px;
    left: 460px;
}

.pos__seven{
    position: absolute;
    bottom: -100px;
    left: -100px;
}

@media (max-width: 900px) {
    .hero{
        background-position: center;
    }
    .hero__box{
        margin-inline-start: 0px;
        text-align: center;
    }
    .flex__group{
        justify-content: center;
        gap: 20px;
    }
}