.button{
    padding-block: 10px;
    padding-inline: 20px;
    background: #4BA87D;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 117.647% */
    letter-spacing: 1.275px;
    cursor: pointer;
    border: none;
}