.footer{
    margin-block: 70px;
}
.footer__box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.list__box{
    flex-grow: 1;
    max-width: 603px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10ch), 1fr));
    gap: 10px; 
}

@media (max-width:550px) {
        .list__box{
            grid-template-columns: repeat(2, 1fr);
        }
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__item{
    list-style: none;
    color: #000;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 115.789% */
}